body{
    margin: 0;
    padding: 0;
    font-size: 32px;
}

p{
    padding: 30px;
    border: 5px solid greenyellow;
    margin: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;   
}

#parent{
    background-color: aqua;
    width: 900px;
    /* height: 300vh; */
    border: 3px solid black;
    margin: auto;
    padding: 10px;  
    margin-bottom: 100px; 
    
}

.one{

}

.two{
    
}

.three{
    
}